<span>&copy; Nguyen Minh Huy</span><br>
<!--<span>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}</span>-->
<!-- Histats.com  START (html only)-->
<a href="" alt="" target="_blank" >
<embed src="http://s10.histats.com/205.swf"  flashvars="jver=1&acsid=3054828&domi=4"  quality="high"  width="255" height="27" name="205.swf"  align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" wmode="transparent" /></a>
<img  src="http://sstatic1.histats.com/0.gif?3054828&101" alt="counter statistics" border="0">
<!-- Histats.com  END  -->

<!-- Begin Web-Stat code v 6.2 -->
<span id="wts894195">&nbsp;</span><script type="text/javascript">
var wts=document.createElement('script');wts.type='text/javascript';
wts.async=true;wts.src=('https:'==document.location.protocol?'https://server2':'http://lb')
+'.web-stat.com/2/894195/log6_2.js';
document.getElementById('wts894195').appendChild(wts);
</script><noscript><a href="http://www.web-stat.com">
<img src="//server2.web-stat.com/6/2/894195.gif" 
style="border:0px;" alt=""></a></noscript>
<!-- End Web-Stat code v 6.2 -->
