<style>
footer{
    height: 80px;
    width: 100%;
    background-color: darkblue;
    position: fixed;
    bottom: 0px;
    z-index: 99999;
}
#navi-bar {
    background-color: #000;
    font-size: 15px;
    text-align: right;
    position: fixed;
    width: 100%;
    z-index: 1001;
}
#navi-bar ul {
    list-style-type: none;
    padding-left: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 5px;
}
#navi-bar ul li {
    display: inline;
    margin-right: 30px;
}
#navi-bar ul li a {
    text-decoration: none;
    color: #fff;
    padding: 7px 10px;
    border-radius: 3px;
    transition: color 0.3s, background 0.3s;
}
#navi-bar ul li a:hover {
    color: #fff;
    background-color: #33CCFF;
}
a {
    color: #33CCFF;
}
a:hover {
    color: #33CCFF;
}
</style>
<footer>
  <div id="navi-bar">
    <ul>
        <li><a href="http://minhhuy150894.github.io">MENU 1</a></li>
        <li><a href="#">MENU 2</a></li>
        <li><a href="#">MENU 3</a></li>
        <li><a href="#">MENU 4</a></li>
        <li><a href="#">MENU 5</a></li>
        <li><a href="#">DANG PHAT TRIEN</a></li>
    </ul>
</div>
</footer>








<p style="color: #fff">&copy; David Ng</p>
<!-- <span>&copy; <a href="http://minhhuy150894.github.io"> David Ng</a></span><br> -->
<!-- Histats.com  START (html only)-->
<a href="" alt="" target="_blank" >
<embed src="http://s10.histats.com/236.swf"  flashvars="jver=1&acsid=3054828&domi=4"  quality="high"  width="241" height="20" name="236.swf"  align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" wmode="transparent" /></a>
<img  src="http://sstatic1.histats.com/0.gif?3054828&101" alt="website traffic statistics" border="0">
<!-- Histats.com  END  -->
