<span>&copy; {{ site.time | date: '%Y' }} <a href="http://minhhuy150894.github.io"> - David Ng</a></span><br>
<!-- Histats.com  START (html only)-->
<a href="" alt="" target="_blank" >
<embed src="http://s10.histats.com/236.swf"  flashvars="jver=1&acsid=3054828&domi=4"  quality="high"  width="241" height="20" name="236.swf"  align="middle" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" wmode="transparent" /></a>
<img  src="http://sstatic1.histats.com/0.gif?3054828&101" alt="website traffic statistics" border="0">
<!-- Histats.com  END  -->
<br>

<a href="https://twitter.com/david15894" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @david15894</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<br>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-follow" data-href="https://www.facebook.com/david15894" data-width="400" data-height="100" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
